{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {% for category in categories %}
        <div>
            <h2>{{ category.name }}</h2>
        </div>
    {% endfor %}
{% endblock %}
