{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    {% for game in games %}
        <div>
            <h2>{{ game.title }}</h2>
            <h3>{{ game.category.name }}</h3>
        </div>
    {% endfor %}
{% endblock %}
